<p>forex-converter works!</p>
<h2>Forex Converter</h2>

<form #app="ngForm" (ngSubmit)="convertCurrency(app)">
  <label for="fromCurrency">Source CCY:</label>
  <select name="fromCurrency" ngModel>
    <option value="USD">USD</option>
    <option value="GBP">GBP</option>
    <option value="INR">INR</option>
  </select>
  <br>

  <label for="toCurrency">Target CCY:</label>
  <select name="toCurrency" ngModel>
    <option value="USD">USD</option>
    <option value="GBP">GBP</option>
    <option value="INR">INR</option>
  </select>
  <br>

  <label for="amount">Amount (Rs):</label>
  <input type="number" name="amount" ngModel required>
  <br>

  <button type="submit" [disabled]="!app.form.valid">Convert</button>
</form>

<div *ngIf="convertedAmount !== undefined" id="result">
  {{ resultMessage }}
</div>
